input[type=number], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #1c072b;
  }
  
  input[type=number]:focus, input[type=password]:focus {
    background-color: #1c072b;
    outline: none;
  }
  select, option{
    background: #1c072b !important;
  }
  