
.table{
    overflow: scroll;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #6f12b3;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .pagination-td{
    padding:0;
    margin:0
  }
  .pagination{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 10px;
  }
 
  .pagination>div>button{
      padding:8px 0px;
  }
  .page{
    padding: 15px;
    text-align:right
  }